/* Body and container */
body {
    font: 300 14px "Lato", sans-serif;
    color: gray;
    background-color: #a5bbb7;
}

.container {
    background-color: #e2e2e2;
    padding: 0.4em 1.8em 1.8em;
}


/* Header */
.logo {
    width: 80px;
    border-radius: 1em;
    margin-top: 20px;
}

.main-heading {
    font: 400 1.5em "Orbitron", sans-serif;
    color: black;
    margin: 1.3em 0 0;
}

.sub-heading {
    font-size: 0.9em;
    color: black;
    margin-top: 0.2em;
}

.sm-links {
    text-transform: none;
}


/* Content */
a,
a:active,
a:focus,
a:hover,
a:visited {
    color: inherit;
    text-decoration: none;
}

.project-category {
    font: 500 1.6em "Orbitron", sans-serif;
    color: darkgray;
    text-align: center;
}

.project-info {
    margin-top: 3em;
}

.project-info:first-child {
    margin-top: 1em;
}

.project-title {
    font-size: 1.2em;
}

.project-url {
    font-size: 0.8em;
}


/* Footer */
.main-footer {
    margin-top: 3em;
}


/* Breakpoint at 525px */
@media screen and (min-width: 525px) {


    /* Header */
    .logo {
        width: 100px;
    }

    .main-heading {
        font-size: 2.7em;
        margin-top: 0.8em;
    }

    .sub-heading {
        font-size: 1.4em;
        margin-top: 0.4em;
    }


    /* Content */
    .project-category {
        font-size: 2.2em;
    }

    .project-title {
        font-size: 1.8em;
    }

    .project-url {
        font-size: 1.1em;
    }

    .modal-body {
        font-size: 1.2em;
    }
}


/* Breakpoint at 768px */
@media screen and (min-width: 768px) {


    /* Container */
    .container {
        margin: 2em auto;
    }

    /* Content */
    .project-category {
        text-align: left;
    }

    .project-info {
        margin-top: 1.8em;
    }

    .project-info:first-child {
        margin-top: 1.8em;
    }
}